#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 14rem;
  gap: 6px;
  border: 1px solid;
  border-color: aqua;
  padding: 10px;
}

input {
  width: calc(100% + 2rem);
  height: 3rem;
  border-color: aqua;
}

.back {
  width: 99px;
}

.input {
  text-align: right;
}

ul{
  list-style: none;
  margin-left: -3rem;
}

li {
  text-align: center;
}